<div class="login-form">
    <div class="header">
        <img width="200" height="200" src="../../assets/angularB.png" />
        <h1>Login</h1>
        <h4>Go to Home</h4>
    </div>

    <div class="content">
        <form [formGroup]="loginForm">
            <mat-form-field>
                <input formControlName="username" matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="password" type="password" matInput placeholder="Password">
                <mat-error *ngIf="loginForm.controls.password.hasError('loginError')">{{loginForm.controls.password.getError("loginError")}}</mat-error>
            </mat-form-field>
        </form>
    </div>
</div>




<button mat-raised-button (click)="auth()" color='primary'>LogIn</button>