.login-form {

    .header {
        text-align: center;
        margin-top:15%;
        margin-bottom: 10px;
        h1, h2, h3, h4 {
            font-weight: normal;
        }
    }

    .content {

        form {
            display: flex;
            flex-direction: column;
        
            > * {
                width: 100%;
            }
        }
        
    }
    
    margin-bottom:5%;
}